.atendimento {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 120px;
}

.atendimento-titulo {
  font-size: 64px;
  color: var(--cor-p6);
  margin-bottom: 60px;
  text-align: center;
}

.atendimento-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.atendimento-conteudo p {
  font-size: 24px;
  line-height: 1.5;
  position: relative;
}

.atendimento-conteudo p span {
  font-weight: bold;
}

.atendimento-titulo.dois {
  margin-top: 80px;
}

.atendimento-formas {
  display: flex;
  justify-content: center;
}

.atendimento-online,
.atendimento-presencial {
  background-color: var(--cor-p1);
  padding: 32px;
  margin: 40px 40px;
  border-radius: 4px;
  width: 500px;
  height: 360px;
  display: flex;
  flex-direction: column;
}

.atendimento-online h3,
.atendimento-presencial h3 {
  font-size: 32px;
  color: var(--cor-p6);
  text-align: center;
  margin-bottom: 40px;
}

.atendimento-online li,
.atendimento-presencial li {
  font-size: 24px;
  line-height: 1.5;
  color: var(--cor-p4);
  display: flex;
  align-items: center;
}

.atendimento-online li::before,
.atendimento-presencial li::before {
  content: "";
  display: inline-block;
  background: url("../img/Vector.svg");
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.atendimento-online li + li,
.atendimento-presencial li + li {
  margin-top: 20px;
}

.atendimento-botao {
  color: var(--cor-p3);
  background-color: var(--cor-w);
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s;
  margin-top: 60px;
  align-self: center;
}

.atendimento-botao:hover {
  color: var(--cor-w);
  background-color: var(--cor-p3);
}

@media (max-width: 1200px) {
  .atendimento-titulo {
    font-size: 58px;
  }
  .atendimento-conteudo p {
    font-size: 22px;
  }
  .atendimento-foto1 {
    width: 450px;
    height: 450px;
  }
  .atendimento-foto2 {
    width: 450px;
    height: 450px;
  }
  .atendimento-foto3 {
    width: 440px;
    height: 450px;
  }
}

@media (max-width: 1000px) {
  .atendimento {
    margin-top: 100px;
  }
  .atendimento-titulo {
    font-size: 52px;
  }
  .atendimento-conteudo p {
    font-size: 18px;
  }
  .atendimento-foto1 {
    width: 360px;
    height: 360px;
  }
  .atendimento-foto2 {
    width: 360px;
    height: 360px;
  }
  .atendimento-foto3 {
    width: 330px;
    height: 360px;
  }
  .atendimento-online h3,
  .atendimento-presencial h3 {
    font-size: 30px;
  }

  .atendimento-online li,
  .atendimento-presencial li {
    font-size: 21px;
  }
  .atendimento-online,
  .atendimento-presencial {
    height: 320px;
  }
}

@media (max-width: 930px) {
  .atendimento-online h3,
  .atendimento-presencial h3 {
    font-size: 30px;
  }

  .atendimento-online li,
  .atendimento-presencial li {
    font-size: 19px;
  }
  .atendimento-botao {
    padding: 12px 24px;
    font-size: 14px;
    margin-top: 40px;
  }
  .atendimento-online,
  .atendimento-presencial {
    height: 300px;
    margin: 30px 30px;
  }
}

@media (max-width: 880px) {
  .atendimento-online h3,
  .atendimento-presencial h3 {
    font-size: 28px;
  }

  .atendimento-online li,
  .atendimento-presencial li {
    font-size: 17px;
  }
  .atendimento-botao {
    padding: 11px 22px;
    font-size: 13px;
    margin-top: 40px;
  }
  .atendimento-online,
  .atendimento-presencial {
    height: 270px;
  }
}

@media (max-width: 830px) {
  .atendimento-online h3,
  .atendimento-presencial h3 {
    font-size: 26px;
  }
  .atendimento-online li,
  .atendimento-presencial li {
    font-size: 16px;
  }
  .atendimento-online,
  .atendimento-presencial {
    height: 270px;
    margin: 20px 20px;
  }
}

@media (max-width: 800px) {
  .atendimento {
    margin-top: 70px;
  }
  .atendimento-titulo {
    font-size: 46px;
  }
  .atendimento-conteudo p {
    font-size: 16px;
  }
  .atendimento-foto1 {
    width: 300px;
    height: 300px;
  }
  .atendimento-foto2 {
    width: 300px;
    height: 300px;
  }
  .atendimento-foto3 {
    width: 300px;
    height: 300px;
  }
  .atendimento-online,
  .atendimento-presencial {
    height: 270px;
    margin: 15px 15px;
  }
}

@media (max-width: 700px) {
  .atendimento {
    margin-top: 60px;
  }
  .atendimento-titulo {
    font-size: 38px;
    margin-bottom: 45px;
  }

  .atendimento-conteudo p {
    font-size: 13px;
  }
  .atendimento-foto1 {
    width: 240px;
    height: 240px;
  }
  .atendimento-foto2 {
    width: 230px;
    height: 230px;
  }
  .atendimento-foto3 {
    width: 220px;
    height: 230px;
  }
  .atendimento-online,
  .atendimento-presencial {
    margin: 12px 12px;
  }
  .atendimento-online h3,
  .atendimento-presencial h3 {
    font-size: 24px;
  }
  .atendimento-online li,
  .atendimento-presencial li {
    font-size: 15px;
  }
  .atendimento-botao {
    padding: 10px 20px;
    font-size: 12.5px;
    margin-top: 40px;
  }
}

@media (max-width: 660px) {
  .atendimento-formas {
    flex-wrap: wrap;
  }
  .atendimento-online,
  .atendimento-presencial {
    align-items: center;
    width: 300px;
    height: 315px;
  }
  .atendimento-online h3,
  .atendimento-presencial h3 {
    font-size: 28px;
  }
  .atendimento-online li,
  .atendimento-presencial li {
    font-size: 20px;
    line-height: 1.5;
  }
  .atendimento-botao {
    padding: 16px 32px;
    margin-top: 40px;
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .atendimento {
    margin-top: 50px;
  }
  .atendimento-titulo {
    font-size: 30px;
  }
  .atendimento-conteudo p {
    font-size: 11px;
  }
  .atendimento-foto1 {
    width: 200px;
    height: 200px;
  }
  .atendimento-foto2 {
    width: 190px;
    height: 190px;
  }
  .atendimento-foto3 {
    width: 190px;
    height: 190px;
  }
}
@media (max-width: 480px) {
  .atendimento {
    margin-top: 45px;
  }
  .atendimento-titulo {
    font-size: 25px;
  }
  .atendimento-conteudo p {
    font-size: 13px;
    margin-bottom: 24px;
  }
  .atendimento-item {
    grid-template-columns: 1fr;
  }
  .atendimento-item img {
    display: none;
  }
  .atendimento-titulo.dois {
    margin-top: 60px;
  }
}
@media (max-width: 350px) {
  .atendimento {
    margin-top: 40px;
  }
  .atendimento-titulo {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .atendimento-conteudo p {
    font-size: 12px;
    margin-bottom: 24px;
  }
  .atendimento-titulo.dois {
    margin-top: 50px;
  }
}
@media (max-width: 300px) {
  .atendimento {
    margin-top: 30px;
  }
  .atendimento-titulo {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .atendimento-conteudo p {
    font-size: 11px;
    margin-bottom: 24px;
  }
  .atendimento-titulo.dois {
    margin-top: 40px;
  }
}
