.beneficios-bg{
  background-color: var(--cor-p2);
  padding-top: 60px;
  padding-bottom: 60px;
}

.beneficios{
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.beneficios-titulo{
  color: var(--cor-w);
  font-size: 64px;
  text-align: center;
  margin-bottom: 80px;
}

.beneficios-lista{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 60px;
}

.beneficios-item{
  background-color: var(--cor-w);
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 20px;
  padding: 30px;
  height: 230px;
}

.beneficios-item img{
  margin: 0 auto;
  padding-bottom: 30px;
}

.beneficios-item h3{
  color: var(--cor-b);
  font-size: 24px;
  text-align: center;
}

.beneficios-item span{
  color: var(--cor-p6);
  font-weight: bold;
}

.btn-beneficios{
  display: flex;
  justify-content: center;
}

.btn-beneficios a{
  color: var(--cor-p3);
  background-color: var(--cor-w);
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s;
  text-align: center;
}

.btn-beneficios a:hover {
  color: var(--cor-w);
  background-color: var(--cor-p3);
}

@media (max-width: 1200px) {
  .beneficios-titulo {
    font-size: 58px;
  }
}

@media(max-width: 1000px){
  .beneficios-titulo {
    font-size: 52px;
  }
}

@media(max-width: 930px){
  .beneficios-bg{
    margin-top: 60px;
  }
}

@media (max-width: 800px){
  .beneficios-titulo {
    font-size: 46px;
    margin-bottom: 70px;
  }
}

@media (max-width: 700px) {
  .beneficios-bg{
    padding-top: 40px;
  }  
  .beneficios-titulo {
    font-size: 38px;
    margin-bottom: 60px;
  }
}

@media (max-width: 550px) {
  .beneficios-titulo {
    font-size: 30px;
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .beneficios-titulo {
    font-size: 25px;
    margin-bottom: 40px;
  }
}

@media (max-width: 350px) {
  .beneficios-bg{
    padding-top: 30px;
    margin-top: 40px;
  }  
  .beneficios-titulo {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 300px) {
  .beneficios-titulo {
    font-size: 16px;
  }
}