.beneficios-bg{
  background-color: var(--cor-p2);
  padding-top: 50px;
  padding-bottom: 40px;
}

.beneficios{
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.beneficios-titulo{
  color: var(--cor-w);
  font-size: 64px;
  text-align: center;
  margin-bottom: 54px;
}

.beneficios-lista{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 40px;
}

.beneficios-item{
  background-color: var(--cor-w);
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 20px;
  padding: 30px;
  height: 230px;
}

.beneficios-item img{
  margin: 0 auto;
  padding-bottom: 30px;
}

.beneficios-item h3{
  color: var(--cor-b);
  font-size: 24px;
  text-align: center;
}

.beneficios-item span{
  color: var(--cor-p4);
  font-weight: bold;
}

.btn-beneficios{
  display: flex;
  justify-content: center;
}

.btn-beneficios a{
  color: var(--cor-p3);
  background-color: var(--cor-w);
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s;
  text-align: center;
}

.btn-beneficios a:hover {
  color: var(--cor-w);
  background-color: var(--cor-p3);
}

@media (max-width: 1200px) {
  .beneficios-titulo {
    font-size: 58px;
  }
}

@media(max-width: 1000px){
  .beneficios-titulo {
    font-size: 52px;
  }
  .beneficios-item h3{
    font-size: 22px;
  }
}

@media(max-width: 930px){
  .beneficios-bg{
    margin-top: 48px;
  }
  .beneficios-lista{
    gap: 40px;
    margin-bottom: 40px;
  }
  .beneficios-item{
    height: 220px;
  }
  .beneficios-img1{
    width: 100px;
  }
  .beneficios-img2,.beneficios-img3,.beneficios-img4,.beneficios-img5{
    width: 83px;
  }
  .beneficios-img6{
    width: 85px;
  }
  .beneficios-item h3{
    font-size: 20px;
  }
}

@media(max-width: 830px){
  .beneficios-bg{
    padding-bottom: 30px;
  }
  .beneficios-titulo {
    margin-bottom: 48px;
  }
  .beneficios-lista{
    margin-bottom: 30px;
  }
  .beneficios-item{
    height: 190px;
  }
  .beneficios-img1{
    width: 90px;
  }
  .beneficios-img2,.beneficios-img3,.beneficios-img4,.beneficios-img5{
    width: 73px;
  }
  .beneficios-img6{
    width: 75px;
  }
  .beneficios-item h3{
    font-size: 18px;
  }
}

@media (max-width: 800px){
  .beneficios-titulo {
    font-size: 46px;
    margin-bottom: 38px;
  }
  .beneficios-lista{
    gap: 30px;
    margin-bottom: 30px;
  }
  .beneficios-item{
    height: 170px;
  }
  .beneficios-img1{
    width: 80px;
  }
  .beneficios-img2,.beneficios-img3,.beneficios-img4,.beneficios-img5{
    width: 63px;
  }
  .beneficios-img6{
    width: 70px;
  }
  .beneficios-item h3{
    font-size: 17px;
  }
  .btn-beneficios a{
    padding: 15px 30px;
    font-size: 15px;
  }
}

@media(max-width:750px){
  .beneficios-item{
    height: 160px;
  }
  .beneficios-img1{
    width: 75px;
  }
  .beneficios-img2,.beneficios-img3,.beneficios-img4,.beneficios-img5{
    width: 58px;
  }
  .beneficios-img6{
    width: 60px;
  }
  .beneficios-item h3{
    font-size: 15.8px;
  }
  .btn-beneficios a{
    padding: 14px 28px;
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .beneficios-bg{
    padding-top: 40px;
    padding-bottom: 24px;
  }  
  .beneficios-titulo {
    font-size: 38px;
    margin-bottom: 32px;
  }
  .beneficios-item{
    height: 140px;
  }
  .beneficios-img1{
    width: 70px;
  }
  .beneficios-img2,.beneficios-img3,.beneficios-img4,.beneficios-img5{
    width: 53px;
  }
  .beneficios-img6{
    width: 55px;
  }
  .beneficios-item h3{
    font-size: 14px;
  }
  .btn-beneficios a{
    padding: 13px 26px;
    font-size: 13px;
  }
}

@media(max-width: 650px){
  .beneficios-titulo {
    margin-bottom: 28px;
  }
  .beneficios-lista{
    gap: 20px;
    margin-bottom: 20px;
  }
  .beneficios-item{
    height: 120px;
  }
  .beneficios-img1{
    width: 58px;
  }
  .beneficios-img2,.beneficios-img3,.beneficios-img4,.beneficios-img5{
    width: 48px;
  }
  .beneficios-img6{
    width: 50px;
  }
  .beneficios-item h3{
    font-size: 13.2px;
  }
}

@media(max-width:620px){
  .beneficios-item{
    height: 110px;
  }
  .beneficios-img1{
    width: 53px;
  }
  .beneficios-img2,.beneficios-img3,.beneficios-img4,.beneficios-img5{
    width: 43px;
  }
  .beneficios-img6{
    width: 45px;
  }
  .beneficios-item img{
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .beneficios-item h3{
    font-size: 12.5px;
  }
  .btn-beneficios a{
    padding: 12px 24px;
    font-size: 12px;
  }
}

@media(max-width: 600px){
  .beneficios-bg{
    padding-top: 32px;
    padding-bottom: 20px;
  }
  .beneficios-titulo {
    margin-bottom: 22px;
  }
  .beneficios-lista{
    gap: 15px;
    margin-bottom: 15px;
  }
  .beneficios-item{
    height: 90px;
  }
  .beneficios-img1{
    width: 45px;
  }
  .beneficios-img2,.beneficios-img3,.beneficios-img4,.beneficios-img5{
    width: 35px;
  }
  .beneficios-img6{
    width: 35px;
  }
  .beneficios-item h3{
    font-size: 12px;
  }
  .btn-beneficios a{
    padding: 11px 22px;
    font-size: 12px;
  }
}

@media(max-width:580px){
  .beneficios-lista{
    display: block;
  }
  .beneficios-item{
    width: 210px;
    height: 100px;
    margin: 0px auto 20px auto;
  }
  .beneficios-img1{
    width: 55px;
  }
  .beneficios-img2,.beneficios-img3,.beneficios-img4,.beneficios-img5{
    width: 45px;
  }
  .beneficios-img6{
    width: 45px;
  }
  .beneficios-item h3{
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .beneficios-titulo {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .beneficios-bg{
    margin-top: 40px;
  }
  .beneficios-titulo {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .beneficios-item{
    width: 180px;
    height: 90px;
    margin: 0px auto 20px auto;
  }
  .beneficios-img1{
    width: 45px;
  }
  .beneficios-img2,.beneficios-img3,.beneficios-img4,.beneficios-img5{
    width: 35px;
  }
  .beneficios-img6{
    width: 35px;
  }
  .beneficios-item h3{
    font-size: 14px;
  }
}

@media(max-width: 400px){
  .beneficios-bg{
    margin-top: 35px;
  }
  .beneficios-item{
    width: 170px;
    height: 85px;
    margin: 0px auto 20px auto;
  }
  .beneficios-img6{
    width: 35px;
  }
  .beneficios-item h3{
    font-size: 13px;
  }
}

@media (max-width: 350px) {
  .beneficios-bg{
    padding-top: 30px;
    padding-bottom: 18px;
    margin-top: 30px;
  }  
  .beneficios-titulo {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media(max-width: 320px){
  .beneficios-item{
    width: 120px;
    height: 85px;
    margin: 0px auto 20px auto;
  }
  .beneficios-img1{
    width: 40px;
  }
  .beneficios-img2,.beneficios-img3,.beneficios-img4,.beneficios-img5{
    width: 30px;
  }
  .beneficios-img6{
    width: 30px;
  }
  .beneficios-item h3{
    font-size: 12.6px;
  }
}

@media (max-width: 300px) {
  .beneficios-bg{
    padding-bottom: 15px;
  }
  .beneficios-titulo {
    font-size: 16px;
  }
  .btn-beneficios a{
    padding: 10px 20px;
    font-size: 11px;
  }
}