.introducao-bg {
  background-color: var(--cor-p1);
  padding-bottom: 34px;
  padding-top: 34px;
}

.introducao {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 40px;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.introducao-conteudo {
  align-self: center;
}

.introducao-conteudo p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 4px;
  color: var(--cor-p2);
  letter-spacing: 1.5;
}

.introducao-conteudo h1 {
  font-size: 64px;
  color: var(--cor-p6);
  margin-bottom: 40px;
}

.introducao-conteudo ul {
  display: flex;
  flex-direction: column;
}

.introducao-conteudo li {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--cor-p4);
}

.introducao-conteudo li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--cor-p4);
  margin-right: 8px;
}

.introducao-conteudo li:last-child {
  margin-bottom: 30px;
}

.introducao-conteudo a {
  color: var(--cor-p3);
  background-color: var(--cor-w);
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s;
}

.introducao-conteudo a:hover {
  color: var(--cor-w);
  background-color: var(--cor-p3);
}

.introducao img {
  width: 600px;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 1200px) {
  .introducao-conteudo p {
    font-size: 22px;
  }
  .introducao-conteudo h1 {
    font-size: 58px;
  }
  .introducao-conteudo li {
    font-size: 22px;
  }
}

@media (max-width: 1050px) {
  .introducao-conteudo p {
    font-size: 20px;
  }
  .introducao-conteudo h1 {
    font-size: 52px;
    margin-bottom: 30px;
  }
  .introducao-conteudo li {
    font-size: 20px;
  }
  .introducao-conteudo a {
    padding: 14px 28px;
  }
  .introducao img {
    width: 500px;
  }
}

@media (max-width: 850px) {
  .introducao-conteudo p {
    font-size: 18px;
  }
  .introducao-conteudo h1 {
    font-size: 46px;
    margin-bottom: 30px;
  }
  .introducao-conteudo li {
    font-size: 18px;
  }
  .introducao-conteudo li::before {
    width: 6px;
    height: 6px;
  }
  .introducao-conteudo a {
    padding: 13px 26px;
  }
  .introducao img {
    width: 400px;
  }
}

@media (max-width: 750px) {
  .introducao-conteudo p {
    font-size: 16px;
  }
  .introducao-conteudo h1 {
    font-size: 42px;
    margin-bottom: 28px;
  }
  .introducao-conteudo li {
    font-size: 16px;
  }
  .introducao-conteudo li:last-child {
    margin-bottom: 20px;
  }
  .introducao-conteudo a {
    padding: 12px 24px;
  }
  .introducao img {
    width: 300px;
  }
}

@media (max-width: 690px) {
  .introducao-conteudo p {
    font-size: 14px;
  }
  .introducao-conteudo h1 {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .introducao-conteudo li {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .introducao-conteudo li::before {
    width: 5px;
    height: 5px;
  }
  .introducao-conteudo li:last-child {
    margin-bottom: 18px;
  }
  .introducao-conteudo a {
    padding: 10px 20px;
    font-size: 12px;
  }
  .introducao img {
    width: 250px;
  }
}

@media (max-width: 550px) {
  .introducao-conteudo h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .introducao-conteudo p {
    font-size: 12px;
  }
  .introducao-conteudo li {
    font-size: 12px;
    margin-bottom: 14px;
  }
  .introducao-conteudo li::before {
    width: 4px;
    height: 4px;
  }
  .introducao img {
    width: 200px;
  }
  .introducao-conteudo a {
    padding: 10px 16px;
    font-size: 12x;
  }
}

@media (max-width: 430px) {
  .introducao {
    grid-template-columns: 1fr;
    max-width: 280px;
  }
  .introducao img {
    display: none;
  }
}
