.sobre-mim{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-top: 120px;
}

.sobre-mim-titulo{
  font-size: 64px;
  color: var(--cor-p6);
  margin-bottom: 30px;
}

.sobre-mim-conteudo p{
  font-size: 24px;
  line-height: 1.3;
}

.sobre-mim-conteudo p + p{
  margin-top: 14px;
}

.sobre-mim-conteudo a{
  display: inline-block;
  margin-top: 30px;
  font-weight: 600;
  color: var(--cor-w);
  background-color: var(--cor-p2);
  text-align: center;
  padding: 16px 32px;
  border-radius: 4px;
  transition: .3s;
}

.sobre-mim-conteudo a:hover{
  background-color: var(--cor-p3);
}

@media (max-width: 1200px){
  .sobre-mim-titulo{
    font-size: 58px;
  }
  .sobre-mim-conteudo p{
    font-size: 23px;
    line-height: 1.3;
  }
  .sobre-mim-img{
    width: 530px;
  }
}

@media (max-width:1150px){
  .sobre-mim-img{
    width: 505px;
  }
}

@media (max-width:1100px){
  .sobre-mim-img{
    width: 500px;
  }
  .sobre-mim-conteudo p{
    font-size: 22px;
    line-height: 1.3;
  }
}

@media(max-width: 1050px){
  .sobre-mim-img{
    width: 490px;
  }
  .sobre-mim-conteudo p{
    font-size: 21px;
    line-height: 1.3;
  }
}

@media (max-width: 1010px){
  .sobre-mim-img{
    width: 460px;
  }
  .sobre-mim-titulo{
    font-size: 52px;
  }
  .sobre-mim-conteudo p{
    font-size: 20px;
    line-height: 1.3;
  }
}

@media (max-width: 960px){
  .sobre-mim-img{
    width: 445px;
  }
  .sobre-mim-titulo{
    font-size: 50px;
  }
  .sobre-mim-conteudo p{
    font-size: 19px;
    line-height: 1.3;
  }
}

@media (max-width: 920px){
  .sobre-mim-img{
    width: 430px;
  }
  .sobre-mim-titulo{
    font-size: 48px;
  }
  .sobre-mim-conteudo p{
    font-size: 18px;
    line-height: 1.3;
  }
  .sobre-mim-conteudo a{
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 15px;
  }
}

@media(max-width:890px){
  .sobre-mim-img{
    width: 410px;
  }
  .sobre-mim-titulo{
    font-size: 47px;
  }
  .sobre-mim-conteudo p{
    font-size: 17.5px;
    line-height: 1.3;
  }
  .sobre-mim-conteudo a{
    margin-top: 20px;
    padding: 14px 28px;
    font-size: 14px;
  }
}

@media(max-width:850px){
  .sobre-mim-img{
    width: 400px;
  }
  .sobre-mim-titulo{
    font-size: 46px;
    margin-bottom: 20px;
  }
  .sobre-mim-conteudo p{
    font-size: 17px;
    line-height: 1.3;
  }
  .sobre-mim-conteudo a{
    margin-top: 20px;
    padding: 13px 26px;
    font-size: 14px;
  }
}

@media(max-width:830px){
  .sobre-mim{
    gap: 0 30px;
    margin-top: 100px;
  }
  .sobre-mim-img{
    width: 380px;
  }
  .sobre-mim-titulo{
    font-size: 44px;
    margin-bottom: 20px;
  }
  .sobre-mim-conteudo p{
    font-size: 17px;
    line-height: 1.3;
  }
  .sobre-mim-conteudo a{
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 14px;
  }
}

@media(max-width:800px){
  .sobre-mim{
    margin-top: 80px;
  }
  .sobre-mim-img{
    width: 350px;
  }
  .sobre-mim-titulo{
    font-size: 42px;
    margin-bottom: 15px;
  }
  .sobre-mim-conteudo p{
    font-size: 16px;
    line-height: 1.2;
  }
  .sobre-mim-conteudo a{
    margin-top: 20px;
    padding: 11px 22px;
    font-size: 13px;
  }
}

@media(max-width:750px){
  .sobre-mim{
    gap: 0 20px;
  }
  .sobre-mim-img{
    width: 320px;
  }
  .sobre-mim-titulo{
    font-size: 36px;
    margin-bottom: 15px;
  }
  .sobre-mim-conteudo p{
    font-size: 15px;
    line-height: 1.2;
  }
  .sobre-mim-conteudo a{
    margin-top: 15px;
    padding: 11px 22px;
    font-size: 12px;
  }
}

@media(max-width:690px){
  .sobre-mim-img{
    width: 300px;
  }
  .sobre-mim-titulo{
    font-size: 32px;
    margin-bottom: 12px;
  }
  .sobre-mim-conteudo p{
    font-size: 14.5px;
    line-height: 1.2;
  }
  .sobre-mim-conteudo a{
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 12px;
  }
}

@media(max-width:660px){
  .sobre-mim-img{
    width: 290px;
  }
  .sobre-mim-titulo{
    font-size: 30px;
    margin-bottom: 12px;
  }
  .sobre-mim-conteudo p{
    font-size: 14px;
    line-height: 1.2;
  }
  .sobre-mim-conteudo a{
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 11px;
  }
}

@media(max-width:640px){
  .sobre-mim-img img{
    width: 280px;
  }
  .sobre-mim-titulo{
    font-size: 28px;
    margin-bottom: 12px;
  }
  .sobre-mim-conteudo p{
    font-size: 13px;
    line-height: 1.2;
  }
  .sobre-mim-conteudo a{
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 10px;
  }
}

@media(max-width:620px){
  .sobre-mim{
    margin-top: 60px;
    max-width: 620px;
    grid-template-columns: 1fr;
  }
  .sobre-mim-titulo{
    font-size: 38px;
    margin-bottom: 12px;
  }
  .sobre-mim-conteudo p{
    font-size: 16px;
    line-height: 1.2;
  }
  .sobre-mim-conteudo{
    text-align: center;
  }
  .sobre-mim-img{
    display: none;
  }
  .sobre-mim-conteudo a{
    margin-top: 15px;
    padding: 12px 24px;
    font-size: 12px;
  }
}

@media(max-width:500px){
  .sobre-mim-titulo{
    font-size: 30px;
  }
  .sobre-mim-conteudo p{
    font-size: 15px;
    line-height: 1.2;
  }
}

@media(max-width:400px){
  .sobre-mim{
    margin-top: 40px;
  }
  .sobre-mim-titulo{
    font-size: 25px;
  }
  .sobre-mim-conteudo p{
    font-size: 13px;
    line-height: 1.2;
  }
  .sobre-mim-conteudo a{
    margin-top: 12px;
    padding: 11px 22px;
    font-size: 11px;
  }
}

@media(max-width:330px){
  .sobre-mim{
    margin-top: 38px;
  }
  .sobre-mim-titulo{
    font-size: 22px;
  }
  .sobre-mim-conteudo p{
    font-size: 12px;
    line-height: 1.2;
  }
  .sobre-mim-conteudo a{
    padding: 10px 20px;
    font-size: 10px;
  }
}

@media(max-width:290px){
  .sobre-mim{
    margin-top: 36px;
  }
  .sobre-mim-titulo{
    font-size: 20px;
  }
  .sobre-mim-conteudo p{
    font-size: 11px;
    line-height: 1.2;
  }
  .sobre-mim-conteudo a{
    padding: 10px 20px;
    font-size: 10px;
  }
}

@media(max-width:270px){
  .sobre-mim{
    margin-top: 36px;
  }
  .sobre-mim-titulo{
    font-size: 18px;
  }
  .sobre-mim-conteudo p{
    font-size: 10px;
    line-height: 1.2;
  }
  .sobre-mim-conteudo a{
    padding: 9px 18px;
    font-size: 9px;
  }
}

@media(max-width:250px){
  .sobre-mim{
    margin-top: 34px;
  }
  .sobre-mim-titulo{
    font-size: 16px;
  }
  .sobre-mim-conteudo p{
    font-size: 9.2px;
    line-height: 1.2;
  }
  .sobre-mim-conteudo a{
    padding: 8px 16px;
    font-size: 8px;
  }
}